/*** Général ***/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  
}

.space-between {
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 4;
}

.row.center {
  align-items: center;
}

/*** Composants ***/

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

img.small {
  width: 20rem;
  height: 16rem;
  border-radius: 10%;
}

.product {
  text-align: center;
  width: 20rem;
  
}

img[alt*="panier"] {
  width: 50px;
  height: 50px;
}


/*** bouton ***/
.btn {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  cursor: pointer;
}

.btn-category {
  width: 100%;
}

.btn-product {
  width: 100%;
}

.btn.add {
  background-color: #40c0f0;
  width: 1.5rem;
}

.btn.remove {
  background-color: #f04040;
  width: 1.5rem;
}

.btn.badge {
  background-color: #f04040;
  border: none;
  color: white;
  width: 1.5rem;

}
.buttons {
  display: flex;
}

/* Modal */

.description {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: #e0e0e0;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}